<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/about">Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view_cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping cart <span class="badge badge-secondary">{{session.cart.totalQty}}</span> </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>User Management</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{# if login}}
                <a class="dropdown-item" href="/user/profile">User Account</a>
                <a class="dropdown-item" href="/user/logout">LogOut</a>
                {{ else }}
                <a class="dropdown-item" href="/user/signup">SignUp</a>
                <a class="dropdown-item" href="/user/signin">LogIn</a>
              {{/if}}
            </div>
        </li>
    </ul>
  </div>
</nav>